.Cell {
  height: 100px;
  width: 100px;
  background-color: darkgray;
  cursor: pointer;
  background-size: 80px 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("001-lightbulb-off.png");
}

.Cell-lit {
  background-color: lightgray;
  background-size: 80px 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("002-lightbulb-on.png");
}